.footer {
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

/* Thanh xanh trên */
.footer-top {
  background: #3d6f2f;
  color: white;
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 20px 0;
}

.feature {
  text-align: center;
}

.feature i {
  font-size: 28px;
  margin-bottom: 6px;
  display: block;
}

.feature p {
  font-size: 12px;
  font-weight: 600;
}

/* Nội dung */
.footer-content {
  background: #f2f2f2;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 40px 80px;
  gap: 40px;
}

.footer-content h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
}

.footer-content p {
  font-size: 13px;
  margin: 6px 0;
  /* cursor: pointer; */
}

.footer-content p:hover {
  color: #3d6f2f;
}

.logo-col img {
  width: 60px;
  margin-bottom: 10px;
}

.social {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  font-size: 18px;
}

/* .social i {
  cursor: pointer;
} */
