:host {
  --header-bg: var(--color-primary); /* Nền xanh lá #36873a */
  --header-text: #ffffff;
}

.admin-header {
  height: 70px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  /* Thay đổi dòng này */
  justify-content: space-between; 
  padding: 0 30px;
  color: var(--header-text);
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.notification-icon {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--header-text); /* Icon chuông màu trắng */
}

/* Chấm đỏ thông báo */
.badge-dot {
  position: absolute;
  top: 2px;
  right: 0px;
  width: 8px;
  height: 8px;
  background-color: #dc3545; 
  border-radius: 50%;
  border: 1px solid var(--header-bg); 
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
  color: var(--header-text); 
}

.user-profile i {
  font-size: 1.6rem;
  color: var(--header-text); 
}

.header-left {
  display: flex;
  align-items: center;
}

.menu-toggle-btn {
  background: transparent;
  border: none;
  color: var(--header-text); /* Màu trắng */
  font-size: 2rem; /* Nút to ra cho dễ bấm */
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
  align: left;
}

.menu-toggle-btn:hover {
  opacity: 0.8;
}