<div class="auth-page">
  <div class="auth-bg"></div>


  <!-- ===== BOX QUÊN MẬT KHẨU ===== -->
  <div class="box small">
    <h2 class="title">QUÊN MẬT KHẨU?</h2>


    <form [formGroup]="form" (ngSubmit)="openOtpPopup()">


      <div class="field">
        <div class="label">
          Số điện thoại <span class="req">*</span>
        </div>


        <div class="control">
          <input
            class="inp"
            formControlName="phone"
            placeholder="Nhập số điện thoại của bạn"
          />


          <button
            type="button"
            class="clear"
            (click)="form.controls.phone.setValue('')"
          >
            ×
          </button>
        </div>


        <div class="err" *ngIf="showErr('phone')">
          {{ errText('phone') }}
        </div>
      </div>


      <button class="submit" type="submit" [disabled]="loading">
        {{ loading ? 'Đang gửi...' : 'Gửi mã OTP' }}
      </button>


      <div class="bottom">
        <span>Bạn đã có tài khoản?</span>
        <a routerLink="/login">Đăng nhập ngay</a>
      </div>


      <div class="sys bad" *ngIf="error">{{ error }}</div>
      <div class="sys ok" *ngIf="message">{{ message }}</div>
    </form>
  </div>


  <!-- ===== POPUP OTP ===== -->
  <div class="otp-overlay" *ngIf="showOtp">
    <div class="otp-modal">


      <h2 class="otp-title">NHẬP MÃ OTP</h2>
      <p class="otp-sub">
        Mã OTP đã được gửi đến số điện thoại của bạn
      </p>


      <div class="otp-inputs">
        <input
          class="otp-input"
          *ngFor="let v of otpValues; let i = index; trackBy: trackByIndex"
          #otpInput
          maxlength="1"
          type="tel"
          inputmode="numeric"
          autocomplete="one-time-code"
          [value]="otpValues[i]"
          (input)="onOtpInput($event, i)"
          (keydown)="onOtpKeydown($event, i)"
          (paste)="onOtpPaste($event, i)"
        />
      </div>


      <div class="otp-error" *ngIf="otpError">
        {{ otpError }}
      </div>


      <button class="otp-btn" type="button" (click)="confirmOtp()">
        Xác nhận OTP ({{ otpSecondsLeft }}s)
      </button>


    </div>
  </div>
</div>

