<header class="main-header">
  <div class="header-container">

    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
      <!-- <span>HealthUp</span> -->
    </div>

    <!-- Menu -->
    <nav class="nav-menu">
      <a routerLink="/">Trang chủ</a>
      <a routerLink="/about-the-brand">Giới thiệu</a>
      <a routerLink="/products">Sản phẩm</a>
      <a routerLink="/blog">Blogs</a>
      <a routerLink="/faqs">FAQs</a>
    </nav>

    <!-- Search -->
    <div class="search-box">
      <input type="text" placeholder="Tìm sản phẩm..." />
      <i class="bi bi-search"></i>
    </div>

    <!-- Right section -->
    <div class="header-actions">

      <!-- Nếu chưa login -->
      <ng-container *ngIf="!isLoggedIn">
        <button type="button" class="btn-login" routerLink="/login">Đăng nhập</button>
        <button type="button" class="btn-register" routerLink="/register">Đăng ký</button>

      </ng-container>

      <!-- Nếu đã login -->
      <ng-container *ngIf="isLoggedIn">
        <i class="bi bi-bell icon"></i>
        <i class="bi bi-cart icon"></i>

        <div class="user-menu">
          <i class="bi bi-person-circle icon"
             (click)="toggleDropdown()"></i>

          <div class="dropdown" *ngIf="showDropdown">
            <a routerLink="/profile">User Profile</a>
            <a (click)="logout()">Đăng xuất</a>
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</header>